.custom-button {
  min-width: 10.3rem;
  width: auto;
  height: 3.125rem;
  letter-spacing: 0.5px;
  line-height: 3.125rem;
  padding: 0 35px 0 35px;
  font-size: 0.75rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Inter-Regular';
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

.google {
  background-color: $blue;
  color: white;

  &:hover {
    background-color: $ligth-blue;
    border: none;
  }
}
